html {
    height: 100%;
    width: 100%;
    min-height: 500px;
    min-width: 500px;
}

body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 70, 0.8), rgb(28, 181, 224, 0.8)
    ), url(https://multimedia.3m.com/mws/media/1851000O/post-it-virtual-backgrounds-murals-galore-show-them-what-you-got.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.App{
    background-color: white;
    color: black;
    width: 25rem;
    height: 30rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Content{
    width: 65%;
}

header{
    margin-bottom: 2rem;
    font-family: 'Yellowtail', cursive;
}


#linkSenha{
    display: flex;
    text-align: left;
    margin-top: 2rem;
}

.linkCadastro{
    text-align: left;
    margin-top: 0.5rem;
}

.linkLogin{
    margin-top: 2rem;
}

.linkSair{
    margin-top: 2rem;
    display: block;
}

#linkVoltarLogin{
    margin-top: 2rem;
    display: block;
}

button {
    margin-top: 0.5rem;
    width: 100%;
}